.vscode/settings.json
*.new
/release-secrets.sh
/equinox.key
/equinox.pub
/kubegen
/kubegen-experiment-appgen
/kubegen-experiment-stack
/vendor/
/sockshop/
/sockshop-prod.d/
/sockshop-test.d/
/weavecloud/
/prod/weavecloud/
/dev/weavecloud/
